<div class="container">

	<div class="page-header">
	  <h1>About. <small>Contact Information and FAQs</small></h1>
	</div>
<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-6">
		<blockquote>
		  <p>I am a computer programmer and have been using Electrum and the Raspberry Pi to securely store my Bitcoins offline for quite some time.  I decided to start selling the Key Lime Pi because I would like to share this amazing tool with everyone and allow for easy, secure, offline bitcoin storage. Enjoy!
		 
		</blockquote>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-6">
		<div class="well well-lg">
			<br>
			<address>
				
			  <strong>LegIT Industries</strong><br>
			  USA<br>
			  Email: <a href="mailto:#"></abbr> admin@keylimepi.net</a>
			</address>

		</div>
	</div>
</div>

</div> <!-- End Container Class -->