<div class="container">

<div class="page-header">
  <h1>Resources. <small>Videos and External Links</small></h1>
</div>


<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-6">
		<center>
			<h3>What is Bitcoin?</h3>
			<div class="embed-container">
				<iframe src="//www.youtube.com/embed/Gc2en3nHxA4" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
		</center>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-6">
		<center>
			<h3>What is Raspberry Pi?</h3>
			<div class="embed-container">
				<iframe src="//player.vimeo.com/video/90103691?title=0&amp;byline=0&amp;portrait=0&amp;color=cccccc" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
		</center>
	</div>
	
	
</div><!-- End Row 1 -->
</br>
<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-6">	
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Helpful Links:</h3>
		  </div>
		  <div class="panel-body">
		   <h5><a href="https://bitcoin.org/bitcoin.pdf">Bitcoin White Paper</a> - Written by Satoshi Nakimoto</h5>
			<h5><a href="http://www.electrum.org">Electrum</a> - Extremely Lightweight Offline Wallet</h5>
			<h5><a href="https://electrum.org/tutorials.html#offline-mpk">Electrum Step by Step Tutorials</a> - Detailed Instructions on using Electrum Offline</h5>
			<h5><a href="http://www.reddit.com/r/bitcoin">Reddit</a> - Active Bitcoin Community</h5>
			<h5><a href="http://www.bitcointalk.org">Bitcointalk Forum</a> - Large Bitcoin Community with lots of helpful posts </h5>
			<h5><a href="http://www.github.com">Github</a> - Open Source Software Distribution Hub</h5>
			<h5><a href="http://www.bitconverter.info">Bitconverter</a> - Convert Bits to USD</h5>
			<h5><a href="http://www.coinbase.com">Coinbase</a> - Easily buy and sell Bitcoin with Fiat Currency </h5>
			<h5><a href="https://www.youtube.com/watch?v=Bhe61JaNFLU&index=2&list=PLzctEq7iZD-7-DgJM604zsndMapn9ff6q">World Bitcoin Network</a> - Bitcoin 101: What is Bitcoin?</h5>
		<h5><a href="https://www.khanacademy.org/economics-finance-domain/core-finance/money-and-banking/bitcoin/v/bitcoin-what-is-it">Khan Academy</a> - Bitcoin: What is it?</h5>
		<h5><a href="http://www.raspberrypi.org/help/faqs/">Raspberry Pi</a> - FAQS</h5>

		  </div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-6">
	
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Places to Spend Bitcoin:</h3>
		  </div>
		  <div class="panel-body">
			 <h5><a href="http://www.gyft.com">Gyft</a> - 100s of Electronic Gift Cards</h5>
			<h5><a href="http://www.dell.com">Dell</a> - Huge Electronics Retailer</h5>
			<h5><a href="http://www.reddit.com/r/bitcoin">Newegg</a> - Computer Retailer</h5>
			<h5><a href="http://www.github.com">Tigerdirect</a> - Electronics and Household Retailer</h5>
			<h5><a href="http://www.bitconverter.info">Overstock</a> - Lots of Household Items</h5>
			<h5><a href="http://www.coinbase.com">Fancy</a> - Awesome selection of items </h5>

		  </div>
		</div>
	</div>

</div>

	
</div> <!-- End Container Class -->